<div class="all">
  <div>
    <input type="button" value="Reset" class="btn" (click)="resetBars()">
  </div>

  <div>
    <input class="slider" type="range" min="{{left}}" max="{{right}}" step="1" value="0" [(ngModel)] = "sliders.nums[0]" (input)="doBalance(0)">
    <input class="slider" type="range" min="{{left}}" max="{{right}}" step="1" value="0" [(ngModel)] = "sliders.nums[1]" (input)="doBalance(1)">
    <input class="slider" type="range" min="{{left}}" max="{{right}}" step="1" value="0" [(ngModel)] = "sliders.nums[2]" (input)="doBalance(2)">
  </div>

  <div>
    <p style="font-size: 20px">Log:</p>
    <p style="font-size: 15px">slider1: {{sliders.nums[0]}}</p>
    <p style="font-size: 15px">slider2: {{sliders.nums[1]}}</p>
    <p style="font-size: 15px">slider3: {{sliders.nums[2]}}</p>
    <p style="font-size: 15px">sum: {{getSum()}}</p>
  </div>
</div>
